*{
	background-image: url('futuristic-glowing-low-polygonal-coronavirus-covid-19-cell-isolated-dark-blue-background_67515-889.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	box-sizing: border-box;}
.ab{color: white; text-align: center; font-weight: bold; padding: 9px;}